<app-header-alt></app-header-alt>
<!-- FORM DE REGISTRO -->
<div class="contenedor">
    <div class="registro-box">
        <h1>Creá tu cuenta</h1>
        <h2>
            Tus reservas de forma simple, rápida y segura.
        </h2>
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit($event)">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" placeholder="Ingresá tu nombre">
                @if (
                    registroForm.controls.nombre.touched &&
                    registroForm.controls.nombre.hasError('required')
                ) {
                    <small class="error-message">
                        El nombre es obligatorio.
                    </small>
                }
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" formControlName="apellido" placeholder="Ingresá tu apellido">
                @if (
                    registroForm.controls.apellido.touched &&
                    registroForm.controls.apellido.hasError('required')
                ) {
                    <small class="error-message">
                        El apellido es obligatorio.
                    </small>
                }
            <label for="dni">Documento Nacional de Identidad</label>
            <input type="text" id="dni" formControlName="dni" placeholder="Ingresá tu documento">
                @if (
                    registroForm.controls.dni.touched &&
                    registroForm.controls.dni.hasError('required')
                ) {
                    <small class="error-message">
                        El documento es obligatorio.
                    </small>
                }
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" formControlName="correo" placeholder="ejemplo@email.com">
            @if (
                registroForm.controls.correo.touched &&
                registroForm.controls.correo.hasError('required')
            ) {
                <small class="error-message">
                    El correo electrónico es obligatorio.
                </small>
            }

            @if (
                registroForm.controls.correo.touched &&
                registroForm.controls.correo.hasError('email')
            ) {
                <small class="error-message">
                    Ingresá un correo electrónico válido.
                </small>
            }

            <label for="telefono">Teléfono</label>
            <input type="text" id="telefono" formControlName="telefono" placeholder="351XXXXXXXX">
                @if (
                    registroForm.controls.telefono.touched &&
                    registroForm.controls.telefono.hasError('required')
                ) {
                    <small class="error-message">
                        El teléfono es obligatorio.
                    </small>
                }
            <label for="contrasena1">Contraseña</label>
            <input type="password" id="contrasena1" formControlName="contrasena1" placeholder="Mínimo 8 caracteres">
                @if (
                    registroForm.controls.contrasena1.touched &&
                    registroForm.controls.contrasena1.hasError('required')
                ) {
                    <small class="error-message">
                        La contraseña es obligatoria.
                    </small>
                }
            <label for="contrasena2">Confirmar contraseña</label>
            <input type="password" id="contrasena2" formControlName="contrasena2" placeholder="Repetí tu contraseña">
                @if (
                    registroForm.controls.contrasena2.touched &&
                    registroForm.controls.contrasena2.hasError('required')
                ) {
                    <small class="error-message">
                        Debes confirmar la contraseña.
                    </small>
                }

            <button type="submit" class="register_btn">
                Registrarse
            </button>
        </form>
        <div class="login">
            <p>
                ¿Ya tienes cuenta?
                <a routerLink="/login">Iniciar sesión</a>
            </p>
        </div>
    </div>
</div>