/* =====================
RESET + BASE
===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: var(--primary);
}

/* =====================
VARIABLES (COLORES)
===================== */
:root {
    --primary: #013b64;
    --secondary: #3498db;
    --light-bg: rgb(223 223 223 / 83%);
    --text-dark: #333;
}

/* =====================
HEADER GLOBAL
===================== */
header {
    background: var(--light-bg);
    color: black;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img {
    height: 80px;
}

nav a {
    color: var(--primary);
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover {
    opacity: 0.8;
}

/* NAV LINKS */
.nav-links {
    display: flex;
    background-color: var(--primary);
    border-radius: 10px;
    overflow: hidden;
}

.nav-links a {
    color: white;
    padding: 12px 22px;
    font-weight: bold;
}

.nav-links a:not(:last-child) {
    border-right: 1px solid white;
}

.nav-links a:hover {
    background-color: rgb(0, 45, 75);
}

/* =====================
BOTONES
===================== */
.btn, .btn-primario, button {
    background: var(--secondary);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn:hover,
.btn-primario:hover,
button:hover {
    background: #2181c0;
}

/* =====================
FOOTER GLOBAL
===================== */
footer {
    background: var(--light-bg);
    color: var(--text-dark);
    font-size: 14px;
    padding: 30px 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-contacto h3,
.footer-redes h3 {
    color: var(--primary);
    font-size: 15px;
}

.footer-contacto a,
.footer-redes a {
    display: block;
    text-decoration: none;
    color: var(--text-dark);
    margin-bottom: 6px
}

.footer-copy {
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}